.customer-form {
    background: #fff;
    box-shadow: 0 0 5px #222;
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
}

/*clearfix*/
.customer-form:after {
    content: "";
    display: table;
    clear: both;
}

.customer-form__field {
    clear: both;
    text-align: right;
    line-height: 25px;
    margin-bottom: 5px;
}

.customer-form label {
    float: left;
    padding-right: 10px;
}

.customer-form__i {
    float: left;
}

.customer-form__submit {
    margin: 15px 0 0 0;
    float: left;
}