.product-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    background: #fff;
    box-shadow: 0 0 5px #444;
    float: left;
    width: 220px;
    margin-bottom: 20px;
}

.product-item:hover {
    box-shadow: 0 0 10px #eee;
}

.product-item:not(:last-child) {
    margin-right: 20px;
}

.product-item div {
    padding: 10px;
}

.product-item .name {
    font-family: 'Segoe UI Light', sans-serif;
    margin-top: 10px;
    color: #444;
}

.product-item p {
    margin: 10px 0 0;
    color: #444;
}

.sku {
    font-family: 'Segoe UI', sans-serif;
}

.price,
.special-price {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.price-strike {
    opacity: 0.5;
}

.special-price {
    font-weight: bold;
}

.preview-image {
    width: 200px;
    height: 200px;
}

.link-to-view {
    text-decoration: none;
    color: inherit;
}
